In [ ]:
import sys

print(sys.version)

In [ ]:
import pandas as pd
import datetime
import pandas.io.data as web
import matplotlib.pyplot as plt
from matplotlib import style
style.use('ggplot')



start = datetime.datetime(2016, 5, 1)
end = datetime.datetime(2016, 5, 10)

df = web.DataReader("AAPL", "yahoo", start, end)

print(df.head())
df['High'].plot()
plt.legend()
plt.show()

In [18]:
Web_stats = {
            'Day' : [1,2,3,4,5,6],
            'Visitors': [23,34,45,56,67,78],
            'Bounce_rate' : [54,32,12,44,22,44]
            }

df = pd.DataFrame(Web_stats)
df.set_index('Day', inplace=True)
print(df.head(2))

     Bounce_rate  Visitors
Day
1             54        23
2             32        34

In [22]:
import numpy as np

np.array([[1,2,3],[12,13,14]])

array([[ 1,  2,  3],
       [12, 13, 14]])

In [23]:

pd.DataFrame(np.array([[1,2,3],[12,13,14]]))

    0   1   2
0   1   2   3
1  12  13  14

In [32]:
import quandl as qd

df = qd.get("ZILL/Z77006_MLP")
df.columns = ["Goregaon"]
df.head()

            Goregaon
Date
2008-10-31  339900.0
2008-11-30  339900.0
2008-12-31  339900.0
2009-01-31  329900.0
2009-02-28  349500.0